//- META TAGS
title= pageTitle
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name='author' content= `${author}`)
meta(name='description' content= 'Calculator App from www.frontendmentor.io')