.main {
  width: 95%;
  max-width: 425px;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  &__subtitle,
  &__title {
    color: var(--whiteColor);
    margin: 0;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    text-transform: lowercase;
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: 0.9rem;
  }
}

.switch-container {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.switch {
  display: flex;
  justify-content: space-between;
  background-color: var(--screen);
  border-radius: 0.6rem;
  height: 1.5rem;
}

.field {
  position: relative;
  top: 0;
  transform: translateY(-50%);
}

.label {
  color: var(--whiteColor);
  font-size: 0.5rem;
  display: block;
  display: grid;
  place-items: center;
  margin-bottom: 0.2rem;
}

.input {
  position: relative;
  display: grid;
  place-items: center;
  margin: 0 0.2rem;
  opacity: 0;
  height: 100%;
  &::after {
    content: '';
    position: relative;
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: var(--secondaryKey);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.input--active {
  opacity: 1;
}

.display {
  background: var(--screen);
  margin: 1rem 0;
  border-radius: 0.75rem;
  color: var(--screenText);
  transition: color 0.5s ease;
  font-size: 2rem;
  text-align: right;
  overflow: hidden;
  padding: 2rem 0 2rem 2rem;
  border-right: 1.2rem solid rgba(0, 0, 0, 0);
}

.keypad {
  background: var(--keypad);
  transition: background 0.5s ease;
  padding: 1rem;
  border-radius: 0.75rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.key {
  height: 3.8rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--thirdKey);
  color: var(--primaryTextColor);
  transition: all 0.5s ease;
  font-size: 1.5rem;
  box-shadow: 0px 4px 0px var(--thirdShadow);
  cursor: pointer;

  &:nth-child(17),
  &:nth-child(18) {
    grid-column: span 2;
    width: 100%;
  }
  &:nth-child(17),
  &:nth-child(4) {
    background-color: var(--primaryKey);
    color: var(--whiteColor);
    box-shadow: 0px 4px 0px var(--primaryShadow);
  }
  &:nth-child(18) {
    background-color: var(--secondaryKey);
    color: var(--whiteColor);
    box-shadow: 0px 4px 0px var(--secondShadow);
  }
}
